.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.linkWrapper {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

.link {
  transition: all 0.5s;
}
.link:hover {
  font-weight: 700;
}

.logo {
  width: 50px;
}

@media (min-width: 480px) {
  .navbar {
    gap: 50%;
    justify-content: flex-start;
  }

  .linkWrapper {
    gap: 80px;
    font-size: 1.1rem;
  }
}

@media (min-width: 660px) {
  .navbar {
    gap: 60%;
  }
}

@media (min-width: 820px) {
  .navbar {
    gap: 70%;
  }
}