.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.linkWrapper {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

.link {
  color: #212529;
}

@media (min-width: 480px) {
  .navbar {
    gap: 70%;
    justify-content: flex-start;
  }

  .linkWrapper {
    gap: 80px;
    font-size: 1.1rem;
  }
}