.icon {
  composes: logo from '../all_blogs/all-blogs.module.css';
  font-size: 20px !important;
}

.copyright {
  font-size: 0.7rem;
}

.footer {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.socialMediaLinks {
  display: flex;
  gap: 10px;
}