.main {
  padding: 0 80px;
  display: flex;
  gap: 20px;
  border: 1px solid red !important;
  justify-content: space-between;
}
.main > * {
  border: 1px dotted orange !important;
}

.blogContainer {
  width: 55%;
}

.aside {
  composes: aside from '../all_blogs/all-blogs.module.css';
  width: 25%;
  align-items: center;
}
.aside:first-child {
  width: 20%;
}

.h1 {
  font-size: 2rem;
}
